doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Resume Example
  // Font Awesome
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
  // Bootstrap core CSS
  // Font Awesome
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
  // Bootstrap core CSS
  link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
  // Material Design Bootstrap
  link(href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css', rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
  // Bootstrap core CSS
  link(href='css/bootstrap.min.css', rel='stylesheet')
  // Material Design Bootstrap
  link(href='css/mdb.min.css', rel='stylesheet')
  // Your custom styles (optional)
  link(href='css/style.min.css', rel='stylesheet')
  // JQuery
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  // Bootstrap tooltips
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js')
  // Bootstrap core JavaScript
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js')
  // MDB core JavaScript
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js')
  style(type='text/css').
    html,
    body,
    header,
    .view {
    height: 100%;
    }
    @media (max-width: 740px) {
    html,
    body,
    header,
    .view {
    height: 1000px;
    }
    }
    @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
    height: 650px;
    }
    }
    @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
    }
    }
    .map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    }
    .map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    }
    html {
    scroll-behavior: smooth;
    }
// Navbar
nav.navbar.navbar-expand-lg.scrolling-navbar
  .container
    // Brand
    a.navbar-brand(href='/')
      strong resume.io
    // Collapse
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    // Links
    #navbarSupportedContent.collapse.navbar-collapse
      // Left
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/template')
            | Templates
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/resumeexample') Examples
        li.nav-item
          a.nav-link(href='#', target='_blank') Guides
        li.nav-item
          a.nav-link(href='#', target='_blank') Job Search
        li.nav-item
          a.nav-link(href='#', target='_blank') FAQ
      // Right
      ul.navbar-nav.nav-flex-icons
        li.nav-item
          a.nav-link.rounded(href='#', target='_blank') Login
        li.nav-item
          // <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
          a.nav-link.border.border-light.rounded(href='#', target='_blank') SignUp
// Navbar
.card(style=' width: fit-content; box-shadow: none; background-color: #1c2331;')
  .card-body
    // First row
    .row.features-small.mb-10.mt-2.wow.fadeIn
      .col-md-3.flex-center
        // Card
      // /first column
      // first column
      .col-md-6.flex-center
        // Card
        .card(style='box-shadow: none;background-color: #1c2331;')
          // Card content
          .card-body
            h2.my-4.h1(style='text-align:center; color:rgb(250, 250, 250); font-size: 35pt;')
              b Resume Examples
            .row
              .col-12
              .col-12
                p.grey-text(style='text-align:center;')
                  | Check out our free resume samples for inspiration. Use these examples and our resume builder to create a beautiful resume in minutes.
                .input-group.md-form.form-sm.form-1.pl-0
                  .input-group-prepend
                    span#basic-text1.input-group-text.cyan.lighten-2
                      i.fas.fa-search.text-white(aria-hidden='true')
                  input.form-control.my-0.py-1(type='text', placeholder='Search', aria-label='Search')
        // /.Card
      // /first column
      .card(style='box-shadow: none;background-color: #1c2331; ')
        .card-body
          // Grid row
          .row.wow.fadeIn
            // Grid column
            .col-md-4.mb-4
              // Card
              .card
                // Card content
                .card-body
                  .col-12
                    .view.overlay.zoom
                      img.img-fluid(src='images/22.jpg', alt='zoom')
                      .mask.flex-center.waves-effect.waves-light
                    hr.hr-light
              // /.Card
            // Grid column
            // Grid column
            .col-md-4.mb-4
              // Card
              .card
                // Card content
                .card-body
                  .col-12
                    .view.overlay.zoom
                      img.img-fluid(src='images/22.jpg', alt='zoom')
                      .mask.flex-center.waves-effect.waves-light
                    hr.hr-light
              // /.Card
            // Grid column
            // Grid column
            .col-md-4.mb-4
              // Card
              .card
                // Card content
                .card-body
                  .col-12
                    .view.overlay.zoom
                      img.img-fluid(src='images/22.jpg', alt='zoom')
                      .mask.flex-center.waves-effect.waves-light
                    hr.hr-light
              // /.Card
            // Grid column
.card(style='box-shadow: none; background-color: #e6f4ff; ')
  .card-body
    // Section:
    section
      // First row
      .row.features-small.mt-5.wow.fadeIn
        .col-xl-1.col-lg-6
        .col-xl-10.col-lg-6
          // Effortlessly
          .card(style='box-shadow: none; background-color: #e6f4ff;')
            .card-body
              // First row
              .row.features-small.mt-5.wow.fadeIn
                .col-xl-12.col-lg-12
                  p.grey-text(style='text-align:center;')
                    | Great job opportunities require great resumes. Our resume examples include phrases, keywords, and formats that are specific to your industry or role. Use our examples for inspiration or use the parts of the examples that work for you.
                  .row.features-small.mt-5.wow.fadeIn
                    .col-xl-4.col-lg-4
                      h6.text-uppercase.font-weight-bold &nbsp;&nbsp;&nbsp;Categories
                      .card
                        .card-body
                          p
                            a(href='#!') Maintenance &amp; Repair
                          p
                            a(href='#!') Social Work
                          p
                            a(href='#!') Education
                          p
                            a(href='#!') Transportation
                          p
                            a(href='#!') Hospitality &amp; Catering
                          hr.deep-black.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 100px;')
                          p
                            a(href='#!') Beauty &amp; Wellness
                          p
                            a(href='#!') Administrative
                          p
                            a(href='#!') Sales
                          p
                            a(href='#!') Engineering
                          p
                            a(href='#!') Medical
                          hr.deep-black.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 100px;')
                          p
                            a(href='#!') Business &amp; Management
                          p
                            a(href='#!') Accounting &amp; Finance
                          p
                            a(href='#!') Information Technology
                          p
                            a(href='#!') Retail
                          p
                            a(href='#!') Marketing
                          hr.deep-black.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 100px;')
                          p
                            a(href='#!') Transport &amp; Logistics
                          p
                            a(href='#!') Security &amp; Protective Services
                          p
                            a(href='#!') Legal
                          p
                            a(href='#!') Production
                          p
                            a(href='#!') Real Estate
                          hr.deep-black.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 100px;')
                          p
                            a(href='#!') Human Resource
                          p
                            a(href='#!') Construction
                          p
                            a(href='#!') Government
                          p
                            a(href='#!') Sport &amp; Fitness
                          p
                            a(href='#!') Other
                          hr.deep-black.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 100px;')
                    .col-xl-8.col-lg-8
                      h6.text-uppercase.font-weight-bold &nbsp;&nbsp;&nbsp;Most Popular
                      .btn-group-vertical(role='group', aria-label='Vertical button group', style='width: 650px;')
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Civil Engineer
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Web Developer
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Mechanical Engineer
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') College Student
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Security Guard
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Electrical Engineer
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Nurse
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Software Developer
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Security Guard
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Electrical Engineer
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Nurse
                        button.btn.btn-indigo(type='button', style='text-align: left;border-radius: 10px;') Software Developer
        .col-xl-1.col-lg-6
// Footer
footer.page-footer.font-small.unique-color-dark
  div(style='background-color: #1c2331;')
    .container
      // Grid row
      .row.py-4.d-flex.align-items-center
        // Grid column
        .col-md-6.col-lg-5.text-center.text-md-left.mb-4.mb-md-0
          h6.mb-0 Connect with us  on social media
        // Grid column
        // Grid column
        .col-md-6.col-lg-7.text-center.text-md-right
          // Facebook
          a.fb-ic
            i.fab.fa-facebook-f.white-text.mr-4  
          // Twitter
          a.tw-ic
            i.fab.fa-twitter.white-text.mr-4  
          // Google +
          a.gplus-ic
            i.fab.fa-google-plus-g.white-text.mr-4  
          // Linkedin
          a.li-ic
            i.fab.fa-linkedin-in.white-text.mr-4  
          // Instagram
          a.ins-ic
            i.fab.fa-instagram.white-text  
        // Grid column
      // Grid row
  // Footer Links
  .container.text-center.text-md-left.mt-5
    // Grid row
    .row.mt-3
      // Grid column
      .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
        // Content
        h6.text-uppercase.font-weight-bold JOB SEEKERS
        hr.deep-black.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          a(href='/template') Build a Resume
        p
          a(href='/resumeexample') Resume Examples
        p
          a(href='#!') Job Search
      // Grid column
      // Grid column
      .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
        // Content
        h6.text-uppercase.font-weight-bold CAREER RESOURCES
        hr.deep-black.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          a(href='/template') How to write a resume?
        p
          a(href='/resumeexample') Is It Time for a Career Change?
        p
          a(href='#!') How to Write a Cover Letter That Lands You an Interview
        p
          a(href='#!') Guides
        p
          a(href='#!') Blog
      // Grid column
      // Grid column
      // .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
      // Links
      // Grid column
      // Grid column
      .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
        // Links
        h6.text-uppercase.font-weight-bold Our Company
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p
          a(href='/template') About Us
        p
          a(href='/resumeexample') Product Updates
        p
          a(href='#!') Pricing
        p
          a(href='#!') Media Kit
        p
          a(href='#!') Affiliates
      // Grid column
      // Grid column
      .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
        // Links
        h6.text-uppercase.font-weight-bold Support
        hr.deep-purple.accent-2.mb-4.mt-0.d-inline-block.mx-auto(style='width: 60px;')
        p FAQ
        p  Contact Us
        p  Terms of Service
        p Disclaimer
        p Privacy
      // Grid column
    // Grid row
  // Footer Links
  // Copyright
  .footer-copyright.text-center.py-3
    | &copy; 2018 Copyright:
    a(href='http://www.artisansofttech.com/')  ArtisanSoftTech
  // Copyright
// Footer
